body{
    background-color: rgb(235, 234, 234);;
    margin: 0%;
  }

*{font-family:'Montserrat', sans-serif;}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #23d36c;
    max-width: 100%;
  }
  
  .nombre {
    font-size: 24px;
  }
  
  .BUSQUEDA {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
  }
  input[type="text"] {
    
    padding: 5px;
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 10px;
    box-align: end;

  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
  }
  
.contenedor{
  padding: 15px;
}
.listado-productos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
}
.producto{
  display: grid;
}
.imgprod{
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin-right: 10px;
   
}
